/*
===============
Variables
===============
*/

:root {
  /* background colors*/
  /* --background-color-1: #f0f4f8;  */
  --background-color-1: #f1f4f9;

  --background-color-2: #ffeeee;
  --background-color-3: #fcefc7;

  /* --background-color-4: #dbeafe;  */
  --background-color-4: #2cb0bc31;

  --background-color-5: #e0e8f9;
  --background-color-7: #000000b3;

  /* primary/main color */
  /* --primary-color: #2563eb; */
  --primary-color: #2cb1bc;

  /* dark shades of the primary color*/
  /* --primary-color-d: #143b8d; */
  --primary-color-d: #027781;

  /* text colors */
  --text-color-1: #e9b949;
  --text-color-2: #d66a6a;
  --text-color-3: #647acb;
  --text-color-4: #627d98;
  --text-color-5: #842029;
  --text-color-6: #102a43;
  --text-color-7: #486581;
  --text-color-8: #829ab1;
  /* status colors */
  --pending-color-1: #e9b949;
  --pending-color-2: #fcefc7;

  /* --interview-color-1: #3b82f6;  */
  --interview-color-1: #2cb1bc;

  --interview-color-2: #dbeafe;
  --declined-color-1: #d66a6a;
  --declined-color-2: #ffeeee;
  /* white and black */
  --white: #fff;
  --black: #000;
  /* other styling */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "cabin", "Roboto Condensed", sans-serif;
  background: var(--background-color-1);
  line-height: 28px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

/*  global classes */

/* containers */
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* buttons */

.btn {
  text-transform: uppercase;
  background: var(--primary-color);
  color: var(--white);
  padding: 6px 12px;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border-color: transparent;
}
.btn:hover {
  color: var(--white);
  background: var(--primary-color-d);
}
.lbl {
  margin-bottom: 6px;
  color: var(--text-color-6);
  display: block;
  text-transform: capitalize;
}

.title {
  text-align: center;
}

.page {
  min-height: 100vh;
}
.page-no-h {
  height: 100vh;
}
